<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: aqua; height: 100%">
<h1 align="center">Welcome to the Country Tour Budget REST API!</h1>
<p align="center">
  <strong>URLPattern to use :</strong> http://localhost:[serverPort]/getCountryTourBudgetInfo/[startCountryCode]&amp[budgetPerCountry]&amp[totalBudget]&amp[baseCurrency]
</p>
<p align="center">
    <strong>Example:</strong> <a href="http://localhost:8585/getCountryTourBudgetInfo/BG&100&1200&EUR">
    http://localhost:8585/getCountryTourBudgetInfo/BG&100&1200&EUR
</a>
</p>
<p align="center">
    <strong>All url parameters are mandatory!!!</strong>
</p>
</body>
</html>